* {
    padding: 0;
    margin: 0;

    font-family: Helvetica, Verdana, Arial, sans-serif;
}

body {
    overflow: hidden;
}

#controls {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 20px;
    width: 120px;
    background-color: rgba(192, 57, 43, 0.35);
    border-radius: 3px;
    padding: 20px;
}

.slider {
    width: 100%;
}

.control {
}
